<h1>Quest#result</h1>
<p>Find me in app/views/quest/result.html.erb</p>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<%= link_to "Edit user information", edit_user_registration_path, method: :get%>
<%= link_to "Start test", quest_identification_path, method: :get%>