@import "bootstrap-sprockets";
@import "bootstrap";
body{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    position: relative;
    margin:auto;
    width: 100vw;
    min-width: 500px;
    max-width: 1920px;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
.container::before{
    content: "";
    display: block;
    height: 100%;
    /* padding-top: 56.25%; */
    background-color: #fff;
    opacity: 0.4;
}
.content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


/* common config box */
.box{
    flex-basis: 30%;
    min-width: 200px;
    margin-bottom: 20px;
    height: 90%;
    display: flex;
    flex-direction: column;
    color: #000;
}
.box_header{
    width: 100%;
    min-height: 50px;
    opacity: 0.7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;
}
.box_header>img{
    padding-left: 10px;
    width:40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.box_header>.title {
    padding-left: 10px;
    font-size: 18px;
}
.box_header>.title .title__name{
    display: block;
    font-size: 14px;
}
.box_header>.title .title__dicription{
    display: block;
    font-size: 12px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
}
.box_body{
    height: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex; 
    flex-direction: column;
}

/* CHART */
.chart {  
    color: #fff;
}
.chart>.box_header {
    background-color: #000;
}
.chart>.box_body{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: overlay; 
    padding-bottom: 30px;
}

.chart>.box_body>div>span{
    position:absolute;
    font-weight: 300;
    right: 10px;
    bottom: 3px;
    font-size: 0.7em;
    opacity: 0.8;
}
.chart>.box_body>.patient{
    position: relative;
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-bottom: 17px;
    margin-top: 10px;
    margin-left: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
}
.chart>.box_body>.patient::before{
    content: "";
    position: absolute;
    bottom: -10px;
    left: -45px;
    width: 35px;
    height: 35px;
    background-image: url('../images/patient.jpg');
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.chart>.box_body>.patient::after{
    content: "";
	position: absolute;
    bottom: 0;
    left: -20px;
    border: 10px solid transparent; 
    border-right: 10px solid rgba(0, 0, 0, 0.5); 
    border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

.chart>.box_body>.medic{
    position: relative;
    align-self: flex-end;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    color: #000;
}
.chart>.box_body>.medic::after{
    content: "";
	position: absolute;
    top: 0;
    right: -20px;
    border: 10px solid transparent; 
    border-left: 10px solid rgba(255, 255, 255, 0.8);
    border-top: 0px solid rgba(255, 255, 255, 0.8);
}
.chart>.box_body .load{
    position: relative;
    font-size: 2em;
    width:30px;
    overflow: hidden;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 0.5s steps(50, end) infinite ;
    animation: type 0.5s steps(50, end) infinite ;
}
@keyframes type{
    from { width: 0; }
}
@-webkit-keyframes type{
    from { width: 0; }
}
/* END CHART */ 

/* QUESTIONS BOX */
.questions>.box_header{
    height: 40px;
}
.questions>.box_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 100%; 
    overflow-y: auto;
}
.questions>.box_body>.question{
    width: 85%;
    margin: 7px 0px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px; 
    cursor: pointer;
}
.questions>.box_body>.question:hover,
.questions>.box_body>.question:active{
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

/* END QUESTIONS BOX */

/* MENU */
.menu>.box_body{
    height: auto;
    max-height: 100%;
    /* justify-content: space-between; */
}
.menu button{
    position: relative;
    margin: 5px 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    flex-basis: 15%;
    outline: none;
    border: none;

    font-size: 1.2em;
    font-weight: 400;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}
.anamnesis, .physical-research, .instrumental-research {
    position: relative;
    background: #58cefa;
}
.anamnesis>.blinker{
    position: absolute;
    top: -3px;
    right: 2px;
    color:red;
    font-size: 2em;
}
.anamnesis:hover, .physical-research:hover, .instrumental-research:hover{
    background: #0aa5dd;
}
.diagnosis, .treatment {
    background: #99cc00;
}
.diagnosis:hover, .treatment:hover{
    background: #779e02;
}
.menu button.close-game{
    cursor: default;
}
.menu button.close-game.active{
    cursor: pointer;
    background-color: rgb(230, 98, 98);
    color: #fff;
}
.menu button.close-game.active:hover,
.menu button.close-game.active:active{
    background-color: rgb(228, 67, 67);
}
.menu>.mobile-menu{
    display: none;
}
/* END MENU */

/* MODAL WINDOW */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal>div{
    width: 90%;    
}
.modal_header, .modal_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    min-height: 30px;
    padding: 5px 20px;
    background-color: #f5f5f5;
}
.modal_header{
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 2px solid #ccc;
    border-top-left-radius: 5vh;
    border-top-right-radius: 5vh;
}
.modal_footer{
    border-top: 2px solid #ccc;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
}
.modal_body{
    height: auto;
    max-height: 70vh;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px 20px;
    
}
.modal_body>span{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal_body>img{
    max-width:100%;
    display: block;
    margin: 0 auto;
}
.modal_body>div>h2{
    margin-top: 20px;
    margin-bottom: 5px;
}
.modal_body>div>p{
    position: relative;
    margin: 5px;;
    padding-left: 20px;
}
.modal_body>div>p::before{
    content: "•";
    font-weight: 900;
    position: absolute;
    left: 10px;
    /* top: 0.5em;
    font-size: 2em; */
}
.modal_body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

.modal_body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #757979;
}
.modal_body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}
.modal_footer button{
    font-size: 1em;
    font-weight: 200;
    margin: 0px 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #2e75d3;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.modal_footer button:hover{
    background-color: #064ca8;
}
/* END MODAL WINDOW */


/* INSTRUMENTAL RESEARCH MODAL */
.modal-body-instrumental-research{
    display:flex;
    justify-content: space-around;   
    align-items: flex-start;
}
.modal-body-instrumental-research>.instrument{
    flex-basis: 24%;
    min-width: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    padding: 20px 0;
    text-align: center;
}
.modal-body-instrumental-research>.instrument:hover{
    background-color:rgba(0,0,0, 0.5);
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.modal-body-instrumental-research>.instrument>img{
    display: block;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;

    margin-bottom: 10px;
    border-radius: 19%;  
    -webkit-border-radius: 19%;
    -moz-border-radius: 19%;
    -ms-border-radius: 19%;
    -o-border-radius: 19%;
}
/* END INSTRUMENTAL RESEARCH MODAL */

/* DIAGNOSIS MODAL */
.modal-body-diagnosis{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.modal-body-diagnosis>div{
    width: 33%;
    /* flex-basis: 27%; */
    min-width: 300px;   
    margin-bottom: 10px;
}
.diagnosis-box>.diagnosis-box__header {
    /* height: 30px; */
    line-height: 30px;
    background-color: #ccc;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;      
}
.diagnosis-box>.diagnosis-box__body {
    padding: 10px;
    border: 3px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.diagnosis-box>.diagnosis-box__body>div{
    margin-top: 10px;
}
.diagnosis-box>.diagnosis-box__body label,
.diagnosis-box>.diagnosis-box__body input{
    cursor: pointer;
}

/* END DIAGNOSIS MODAL */

/* TREATMENT MODAL */
.modal-treatment{
    box-sizing: border-box;
}
.modal-body-treatment{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}
.category-treatment{
    display: flex;
    width: 100%;
    min-height: 30px;
    justify-content: space-between;
    border: 3px solid #ccc;
    border-bottom: 0;
}
.category-treatment>span{
    flex-basis: 50%;
    line-height: 30px;
    background-color: #ccc;
    text-align: center;
    cursor: pointer;
}
.category-treatment>span:hover{
    background-color:rgba(0,0,0, 0.7);
    color: #fff;
}
.category-treatment>span.active{
    background-color: #fff;
}
.category-treatment>span.active:hover{
    background-color: #fff;
    color: #000;
    cursor: default;
}
.content-treatment{
    width: 100%;
    border: 3px solid #ccc;
    border-top: 0;
}
.medicate{
    display: flex;
    width: 96%;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin: 2%;
}
.medicate>.bar{
    flex-basis: 48%;
    text-align: center;
}
.medicate>.left-bar{
    margin:0;
    padding: 0;
}
.medicate>.left-bar ul{
    margin:0;
    padding: 0;
}
.medicate>.left-bar li {
    list-style-type: none;
    padding: 5px 0;
    border: 1px solid #ccc;
    background-color:rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.medicate>.left-bar li:hover {
    background-color:rgba(0, 0, 0, 0.4);
}
.medicate>.left-bar li.active{
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border: 1px solid transparent;
}
.medicate>.left-bar li.active:hover{
    background-color: #fff;
    cursor: default;
}
.medicate>.right-bar{
    /* border: 1px solid #ccc; */
    border-left: 0;
    text-align: left;
    padding: 1%;
}
.medicate>.right-bar .drug {
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}
.medicate>.right-bar .drug>label {
    cursor: pointer;
    margin-left: 10px;
    word-wrap: break-word;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}
.non-medicate{
    display: none;
    flex-direction: column;
    margin: 2% 10%;
}
.non-medicate>.non-medicate-radio {
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}
.non-medicate>.non-medicate-radio>label {
    cursor: pointer;
    margin-left: 10px;
}
/* END TREATMENT MODAL */

/* FINISH MODAL */
.modal-body-finish>.category{
    width: 90%;
    padding: 10px;
    border-bottom: 2px dashed #ccc
}
.modal-body-finish>.category>h2{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: darkblue;
}
.modal-body-finish>.category .subcategory{
    position: relative;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    color: darkblue;
}
.modal-body-finish>.category .wrong-message,
.modal-body-finish>.category .message{
    position: relative;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: darkred;
}
.modal-body-finish>.category .wrong-message{
    font-style: italic;
    font-weight: 900;
}

.modal-body-finish>.category .message{
    color: #000;
}
.modal-body-finish>.category .wrong{
    position: relative;
    margin-left: 10px;
    padding-bottom: 5px;
    font-weight: 700;
    color: darkred;
}
.modal-body-finish>.category .correctly{
    margin-left: 10px;
    padding-bottom: 5px;
    font-weight: 700;
    color: rgb(0, 139, 58);
}
/* END FINISH MODAL */

/* SIMPLE MODAL */
.simple-modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.simple-modal-body{
    background-color: rgb(196, 247, 194);
    max-width: 90%;
    width: auto; 
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* END SIMPLE MODAL */
 
@media screen and (orientation:portrait){
    .container{
        min-width: 300px;
        height: 100%;
    }
    .container::before{
        padding-top: 0%;
    }
    .content{
        height: 100%;
    }
    .box{
        flex-basis: 45%;
        margin-bottom: 20px;
    }


    /* BOX MENU */
    .box.menu{
        position: fixed;
        margin-bottom: 0px;
        min-height: 100%;
        max-height: 100%;
        top: -100%;
        bottom: 100%;
        transform: translateY(40px);
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
    }
    .box.menu.mob-open{
        top: 0;
        bottom: 0;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
    .box.menu>.box_header{
        display: none;
    }
    .box.menu>.box_body{
        height: 100%;
    }

    .box.menu>.mobile-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 40px;
        width: 100vw;
        background: #000;
        /* border-bottom: 3px solid rgba(0, 0, 0, 0.63); */
    }
    .arrow {
        position: relative;
        cursor: pointer;
        width: 66px;
        height: 30px;
    }
    .arrow-left {
        position: absolute;
        background-color: transparent;
        top: 10px;
        left: 0;
        width: 40px;
        height: 10px;
        display: block;
        transform: rotate(35deg);
        float: right;
        border-radius: 2px;
    }
    .arrow-left:after {
        content: "";
        /* background-color: #337AB7; */
        background-color: #fff;
        width: 40px;
        height: 10px;
        display: block;
        float: right;
        border-radius: 6px 10px 10px 6px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
        z-index: -1;
    } 
    .arrow-right {
        position: absolute;
        background-color: transparent;
        top: 10px;
        left: 26px;
        width: 40px;
        height: 10px;
        display: block;
        transform: rotate(-35deg);
        float: right;
        border-radius: 2px;
    }
    .arrow-right:after {
        content: "";
        /* background-color: #337AB7; */
        background-color: #fff;
        width: 40px;
        height: 10px;
        display: block;
        float: right;
        border-radius: 10px 6px 6px 10px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
        z-index: -1;
    }
    .open .arrow-left:after {
        transform-origin: center center;
        transform: rotate(-70deg);
    }
    .open .arrow-right:after {
        transform-origin: center center;
        transform: rotate(70deg);
    }
    /* END BOX MENU */
}
@media screen and (max-width: 1024px){
    .modal-body-diagnosis{
        justify-content: center;
    }
    .modal-body-diagnosis>div{
        width: 95%;
    }
}
@media screen and (max-width: 768px){
    .box{
        min-width: 160px;
    }
    /* CHART */
    .chart, .questions {
        font-size: 0.8em;
    }
    .chart>.box_body>.patient{
        margin-left: 20px;
    }
    .chart>.box_body>.patient::before{
        bottom: -7px;
        left: -25px;
        width: 15px;
        height: 15px;
    }
    /* END CHART */

    /* QUESTIONS */
    .questions>.box_body>.question{
        margin: 3px 0;
        padding: 10px 5px;
        font-size: 1.2em;
    }
    /* END QUESTIONS */
    /* MENU */
    .menu button{
        padding: 10px;
    }
    /* END MENU */

    .modal-body-instrumental-research{
        flex-wrap: wrap;
        padding-top: 2px;
    }
    .modal-body-instrumental-research>.instrument{
        flex-basis: 24.5%;
        min-width: 105px;
        font-size: 0.9em;
    }
    .modal-body-instrumental-research>.instrument>img{
        width: 90%;
    }
    .medicate{
        width: 98%;
        margin: 1%;
    }
}
@media screen and (max-width: 500px) and (orientation:portrait){
    .container {
        min-width: 320px;
    }
    .content{
        flex-direction: column;
        align-items: flex-end;
    }
    .box{  
        margin-bottom: 0px;
        width: 100%;
        height: 50%;
    }

    /* BOX CHART */
    .box.chart{
        margin-top: 40px;
        flex-basis: 100%;
    }
    /* END BOX CHART */

    /* BOX QUESTIONS */
    .box.questions{
        flex-basis: auto;
        min-height: 200px;
    } 
    .box.questions>.box_header{
        height: 40px;
        min-height: 40px;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .box.questions>.box_body{
        min-height: 160px;
    }  
    /* END BOX QUESTIONS */  
}

@media screen and (max-width: 420px){
    .modal_header.modal-instrumental-research{
        font-size: 1em;
    }
    .modal-body-instrumental-research{
        flex-wrap: wrap;
    }

    .modal-body-instrumental-research>.instrument{
        flex-basis: 24.5%;
        min-width: 65px;
        font-size: 0.6em;
    }

    .modal-body-treatment{
        font-size: 0.8em;
    }
    .medicate>.right-bar .drug {
        display: flex;
        align-items: center;
    }
    .medicate>.right-bar .drug>label {
        cursor: pointer;
        margin-left: 2px;
    }
    .modal-footer-treatment>button{
        font-size: 0.9em;
        padding: 5px;
    }
}
@media screen and (max-height: 600px){
    .container{
    /* width: 100vw; */
    min-height: 300px;
}
    .box.menu .box_header, 
    .box.questions .box_header{
        height: 30px;
        min-height: 30px;
    }
    .box.menu button{
        font-size: 0.8em;
        margin: 3px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
